# Supabase Configuration
# Get these values from: https://supabase.com/dashboard/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://pghbvacsoalbricagghk.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_FFHGrHv9RFNtyK3HGLrOAQ_MsbcDXAs

ps=SyDJv6j+3f+*4ia

ADMIN_USERNAME=Admin_1234
ADMIN_PASSWORD=admin3